@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(16, 16, 16);
    height:11vh;
    position:fixed;
    width:80vw;
    margin-left:250px;
    z-index:100;
    border:2px solid rgb(16, 16, 16);
    display: flex;
   
}
header.active{
    background-color: rgb(6, 6, 6);
    height:11vh;
    position:fixed;
    width:80vw;
    margin-left:250px;
    z-index:100;
    border:2px solid black;
    transition:all .5s;
}
.head1{
    display:flex;
}
.circleBase1 {
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 32px;
    margin-top: 13px;
}

.type1 {
    width: 35px;
    height: 35px;
    background: black;
    border: 8px solid black;

    position: relative;
}

.type1:before {
   
    content: "";
        position: absolute;
        top: -18px;
        left: 56%;
        width: 100%;
        height: 190%;
        border: 2px solid white;
        transform: rotate(40deg);
}
.circleBase2 {
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 13px;
    margin-right: -107px;
}

.type2 {
    width: 35px;
    height: 35px;
    background: black;
    border: 8px solid black;

    position: relative;
}

.type2:before {
   
    content: "";
        position: absolute;
        top: -5px;
        right: 56%;
        width: 100%;
        height: 190%;
        border: 2px solid white;
        transform: rotate(47deg);
}

.head2{
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    margin:21px 200px 24px 440px;
    font-size:17px;
    
}
.head2 ul li{
    display: inline-block;
    padding: 0 10px;
    margin-right: 67px;
    margin-bottom: 17px;
}
.head2 ul li a{
    text-decoration: none;
    color:rgb(175, 175, 175);
    position:fixed;

}
.head2 ul li a:hover{
    color:white;
    font-weight: bold;
   
}

.head3{
    text-decoration: none;
    font-family: 'rubik', sans-serif;
    margin:9px -144px 24px -175px;
    font-size:15px;
    
}


.head3 ul li{
    display: inline-block;
    padding: 0 12px;
 
    
}
.bor{
   width:20%;
   background-color:white;
   height:1px;
   transform:rotate(90deg);
    margin-top: 23px;
        margin-left: 8px;
    
}
.sign{
    margin-right: 73px;
    margin-left: 48px;
    margin-top: -11px;
    margin-bottom: 23px;
}
.sign a{
    color:rgb(175, 175, 175);

}
.logIn{
    margin:0 21px 0 4px;
    border:15px solid white;
    border-radius: 30px;
    background-color: white;
    position:fixed;
    margin-top: -23px;
    margin-bottom: 23px;
}
.logIn a{
    padding:2px 5px 3px 4px;
color: black
}
.head3 ul li a{
  text-decoration: none;
  
}
.up{
    position:fixed;
}
.head3 ul .sign a:hover{
  color:white;
  font-size:16px;
 
}
.logIn a:hover{
    font-size:16px;

}
.container{
    display: grid;
    grid-template-columns: 20vw auto;
}

.logo{
    display: flex;
  
    height:64px;
    align-items:flex-end;
    padding-left:23px;
    
}
.box1{
    width:250px;
    height:100vh;
    background-color: black;
    position:fixed;
    margin-top: 0;
}
.sect1{
    box-sizing: border-box;
    border:25px solid black;
    font-family: 'Rubik', sans-serif;
    color:rgb(194, 193, 193);
    
}
.secta li{
       list-style: none;
       line-height: 40px;
    }
.secta li a{
        color: white;
        opacity:.7;
        text-decoration: none;
}
.secta li a:hover{
    transition: .5s;
        opacity:1;
}
#home{
    margin-right:20px;
}

.home{
    margin-left: 0px;
}
.home a{
    font-size: 14px;
}
#search{
    margin-right:20px;
}

.search{
    margin-left: 0px;
}
.search a{
    font-size: 14px;
}
#library{
    margin-right:20px;
}

.library{
    margin-left: 0px;
}
.library a{
    font-size: 14px;
}
.sectb{
    margin-top: 27px;
}
.sectb ul{
    margin-left: -4px;
}
.sectb li{
    list-style: none;
    line-height: 40px;
}
.sectb li a{
    
    color:white;
    opacity:.7;
    text-decoration: none;
}
.sectb li a:hover{
    opacity: 1;
    transition: .5s;
}
#create{
    margin-right:20px;
    padding-bottom: 13px;
        margin-top: 9px;
        margin-bottom: -10px;
        height:25px;
        border:1px solid black;
        border-radius:2px;
}

.create{
    margin-left: 0px;
}
.create a{
    font-size: 14px;
    display:flex;
}
#liked{
    margin-right:20px;
    padding-top:7px;
    height:25px;
    border:1px solid black;
    border-radius:2px;
}

.liked{
    margin-left: 0px;
}
.liked a{
    font-size: 14px;
    display:flex;
}
.sect2{
    font-family: kanit;
    font-size:12px;
    line-height: 25px;
    margin-left: 25px;
    margin-top: 113px;
}
.sect2 ul li a{
    color:rgb(194, 193, 193);;
    text-decoration: none;
    list-style: none;
}
.sect2 ul li a:hover{
    text-decoration: underline;
}
.box2{
    background-color: rgb(20, 20, 20);
    width:1030px;
    margin-top:11vh;
    color:white;
    margin-left: 250px;
}
.box2 .section1{
    display: flex;
    margin-top: 14px;
    margin-left: 22px;

    padding: 10px;
}
.section1a{
     height:313px;
     width:220px;
     background:rgb(15,15,15);
     margin-left:0px;
     margin-top:5px;
     border-radius:10px;
     padding:5px;
    }
#section1a{
    margin:12px;
}
.tit1a1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -18px;
}
.tit1a2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section1b{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section1b{
    margin-top:14px;
    margin-left:10px;
}
.tit1b1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit1b2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section1c{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section1c{
    margin-top:14px;
    margin-left:10px;
}
.tit1c1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit1c2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section1d{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section1d{
    margin-top:14px;
    margin-left:10px;
}
.tit1d1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit1d2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.title1{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size:23px;
}
.title1 a{
    text-decoration:none;
    color:white;
}
.see1{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-left:910px;
    margin-top:19px;
}
.see1 a{
   text-decoration: none;
    color:rgb(204, 204, 204);
}
.see1 a:hover{
    text-decoration: underline;
}
.bigsect1{
    display:flex;
    margin-top: 47px;
    margin-left: -170px;
}

.title2 {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 23px;
}

.title2 a {
    text-decoration: none;
    color: white;
}
.box2 .section2 {
    display: flex;
    margin-top: 14px;
    margin-left: 22px;
    padding: 10px;
    height: 395px;
}
.box2 .section3{
    display: flex;
    margin-top: 14px;
    margin-left: 22px;

    padding: 10px;
}
.section3a{
     height:313px;
     width:220px;
     background:rgb(15,15,15);
     margin-left:0px;
     margin-top:5px;
     border-radius:10px;
     padding:5px;
    }
#section3a{
    margin:12px;
}
.tit3a1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -18px;
}
.tit3a2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section3b{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section3b{
    margin-top:14px;
    margin-left:10px;
}
.tit3b1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit3b2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section3c{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section3c{
    margin-top:14px;
    margin-left:10px;
}
.tit3c1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit3c2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section3d{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section3d{
    margin-top:14px;
    margin-left:10px;
}
.tit3d1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit3d2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.title3{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size:23px;
}
.title3 a{
    text-decoration:none;
    color:white;
}
.see3{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-left:910px;
    margin-top:19px;
}
.see3 a{
   text-decoration: none;
    color:rgb(204, 204, 204);
}
.see3 a:hover{
    text-decoration: underline;
}
.bigsect3{
    display:flex;
    margin-top: 47px;
    margin-left: -63px;
}
.box2 .section4{
    display: flex;
    margin-top: 14px;
    margin-left: 22px;

    padding: 10px;
}
.section4a{
     height:313px;
     width:220px;
     background:rgb(15,15,15);
     margin-left:0px;
     margin-top:5px;
     border-radius:10px;
     padding:5px;
    }
#section4a{
    margin:12px;
}
.tit4a1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -18px;
}
.tit4a2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section4b{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section4b{
    margin-top:14px;
    margin-left:10px;
}
.tit4b1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit4b2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section4c{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section4c{
    margin-top:14px;
    margin-left:10px;
}
.tit4c1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit4c2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section4d{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section4d{
    margin-top:14px;
    margin-left:10px;
}
.tit4d1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit4d2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.title4{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size:23px;
}
.title4 a{
    text-decoration:none;
    color:white;
}
.see4{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-left:910px;
    margin-top:19px;
}
.see4 a{
   text-decoration: none;
    color:rgb(204, 204, 204);
}
.see4 a:hover{
    text-decoration: underline;
}
.bigsect4{
    display:flex;
    margin-top: 47px;
    margin-left: -63px;
}
.box2 .section5{
    display: flex;
    margin-top: 14px;
    margin-left: 22px;

    padding: 10px;
}
.section5a{
     height:313px;
     width:220px;
     background:rgb(15,15,15);
     margin-left:0px;
     margin-top:5px;
     border-radius:10px;
     padding:5px;
    }
#section5a{
    margin:12px;
}
.tit5a1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -18px;
}
.tit5a2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section5b{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section5b{
    margin-top:14px;
    margin-left:10px;
}
.tit5b1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit5b2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section5c{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section5c{
    margin-top:14px;
    margin-left:10px;
}
.tit5c1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit5c2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.section5d{
    height:323px;
    width:220px;
    background:rgb(15,15,15);
    margin-top:5px;
    margin-left:23px;
    border-radius:10px;
}
#section5d{
    margin-top:14px;
    margin-left:10px;
}
.tit5d1{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    line-height: 40px;
    margin-left: 14px;
    margin-top: -5px;
}
.tit5d2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-left:14px;
}
.title5{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size:23px;
}
.title5 a{
    text-decoration:none;
    color:white;
}
.see5{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-left:910px;
    margin-top:19px;
}
.see5 a{
   text-decoration: none;
    color:rgb(204, 204, 204);
}
.see5 a:hover{
    text-decoration: underline;
}
.bigsect5{
    display:flex;
    margin-top: 47px;
    margin-left: -232px;
}
.bor2{
    content:'';
    width:93%;
    margin-left: 32px;
    height:.5px;
    background-color:rgb(82, 82, 82);
    margin-top: 85px;
     margin-bottom: 60px;
}
.bigsect1 a:hover .section1a{
    background: rgb(30, 30, 30);
}
.bigsect1 a:hover .section1b{
    background: rgb(30, 30, 30);
}
.bigsect1 a:hover .section1c{
background: rgb(30, 30, 30);
}
.bigsect1 a:hover .section1d{
background: rgb(30, 30, 30);
}
.bigsect3 a:hover .section3a {
    background: rgb(30, 30, 30);
}
.bigsect3 a:hover .section3b {
background: rgb(30, 30, 30);
}
.bigsect3 a:hover .section3c {
    background: rgb(30, 30, 30);
}
.bigsect3 a:hover .section3d {
    background: rgb(30, 30, 30);
}
.bigsect4 a:hover .section4a {
background: rgb(30, 30, 30);
}
.bigsect4 a:hover .section4b {
    background: rgb(30, 30, 30);
}
.bigsect4 a:hover .section4c {
    background: rgb(30, 30, 30);
}
.bigsect4 a:hover .section4d {
background: rgb(30, 30, 30);
}
.bigsect5 a:hover .section5a {
    background: rgb(30, 30, 30);
}
.bigsect5 a:hover .section5b {
background: rgb(30, 30, 30);
}
.bigsect5 a:hover .section5c {
background: rgb(30, 30, 30);
}
.bigsect5 a:hover .section5d {
    background: rgb(30, 30, 30);
}
.section1 a{
    text-decoration: none;
}
.section3 a{
    text-decoration: none;
}
.section4 a{
    text-decoration: none;
}
.section5 a{
    text-decoration: none;
}
.title1:hover{
      text-decoration: underline;
}
.title3:hover{
      text-decoration: underline;
}
.title4:hover{
      text-decoration: underline;
}
.title5:hover{
      text-decoration: underline;
}
.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 23px solid black;
    transform: rotate(90deg);
    top: 11px;
    left: 13px;

}

.circle {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(162, 245, 36);
    position:absolute;
transition: .5s;
}
.sym1{
     display:none;
}
circle.sym1{
    display:block;
}